#include "resource.h"

1 VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Unofficial preservation project\0"
            VALUE "FileDescription", "Blood Pong native Windows preservation port\0"
            VALUE "FileVersion", "1.0.0\0"
            VALUE "InternalName", "BloodPong\0"
            VALUE "LegalCopyright", "Original game copyright 1998 Monkey Byte Development\0"
            VALUE "OriginalFilename", "Blood Pong.exe\0"
            VALUE "ProductName", "Blood Pong\0"
            VALUE "ProductVersion", "1.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END

IDB_TITLE BITMAP "../analysis/extracted/type_2007_custom_2007/301_lang0.bmp"
IDB_CREDITS_BACKDROP BITMAP "../analysis/extracted/type_1001_custom_1001/130_lang0.bmp"

IDB_MENU_ONE_SELECTED BITMAP "../analysis/extracted/type_2007_custom_2007/500_lang0.bmp"
IDB_MENU_TWO_SELECTED BITMAP "../analysis/extracted/type_2007_custom_2007/501_lang0.bmp"
IDB_MENU_CONFIG_SELECTED BITMAP "../analysis/extracted/type_2007_custom_2007/502_lang0.bmp"
IDB_MENU_QUIT_SELECTED BITMAP "../analysis/extracted/type_2007_custom_2007/503_lang0.bmp"
IDB_MENU_ONE BITMAP "../analysis/extracted/type_2007_custom_2007/510_lang0.bmp"
IDB_MENU_TWO BITMAP "../analysis/extracted/type_2007_custom_2007/511_lang0.bmp"
IDB_MENU_CONFIG BITMAP "../analysis/extracted/type_2007_custom_2007/512_lang0.bmp"
IDB_MENU_QUIT BITMAP "../analysis/extracted/type_2007_custom_2007/513_lang0.bmp"
